/* scroll bar */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #242121;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #2e2a2a;
    transition: 0.2s ease;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #353030;
}

/* app */

.App-header {
    background-color: #242121;
    min-height: 100vh;
    color: white;
    font-family: "Rubik-Light";
}

.center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.center-left-content {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

.no-select {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select:none;
    user-select:none;
    -o-user-select:none;
}

/* navbar */
.navbar {
    background-color: #373737;
    height: 50px;
    width: 100vw;
    display: flex;
    justify-content: left;
}

.navbar .menuButton {
    width: 40px;
    padding: 0 5px;
    height: 50px;
    cursor: pointer;
    transition: 0.2s ease;
}

.navbar .menuButton:hover {
    background-color: #424242;
}

.navbar .menuButton:active {
    background-color: #3b4a5a;
}

.navbar .menuButton .icon {
    width: 24px;
    height: 24px;
}

.navbar .title {
    margin: 5px 8px;
}

/* contents */
.contents {
    display: flex;
    justify-content: left;
}

/* menu */
.menu {
    position: relative;
    min-width: 20%;
    height: calc(100vh - 50px);
    background-color: #2C2C2C;
    transition: margin-left 0.5s ease;
    margin: 0;
}

.menu.open {
    margin-left: 0;
}

.menu.closed {
    margin-left: -20%;
}

.menu .items {
    overflow-y: auto;
    width: 100%;
    height: 80%;
}

.menu .items .item {
    width: 100%;
    height: 60px;
    background-color: #2C2C2C;
    padding: 0px 20px;
    box-sizing: border-box;
    cursor: pointer;
    transition: 0.2s ease;
    z-index: 5;
}

.menu .items .item:hover {
    background-color: #383838;
}

.menu .items .name {
    width: calc(100% - 32px);
    margin: 0 auto;
    height: 100%;
    float: left;
}

.menu .items .name h3 {
    margin: 0;
}

.menu .items .item .icon {
    width: 24px;
    height: 24px;
    float: right;
    margin: 17px 0;
}

.menu .items .item .icon.flipped {
    animation: flipped_arrow 0.35s cubic-bezier(.27,1.37,.39,1.14);
    animation-fill-mode: forwards;
}

.menu .items .item .icon.unflipped {
    animation: unflipped_arrow 0.35s cubic-bezier(.27,1.37,.39,1.14);
    animation-fill-mode: forwards;
}

@keyframes flipped_arrow {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(180deg);
    }
}

@keyframes unflipped_arrow {
    0% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes fade_in {
    0% {
        opacity: 0;
        display: none;
    }

    100% {
        opacity: 100;
        display: block;
    }
}

@keyframes fade_out {
    0% {
        opacity: 100;
        display: block;
    }

    100% {
        opacity: 0;
        display: none;
    }
}

.playlistsContainer {
    width: 100%;
    height: auto;
    z-index: 0;
}

.playlistsContainer.visible {
    animation: fade_in 0.35s cubic-bezier(.27,1.37,.39,1.14);
    animation-fill-mode: forwards;
}

.playlistsContainer.invisible {
    animation: fade_out 0.35s cubic-bezier(.27,1.37,.39,1.14);
    animation-fill-mode: forwards;
}

.playlistsContainer .playlist {
    cursor: pointer;
    transition: 0.3s ease;
}

.playlistsContainer .playlist:hover {
    background-color: #383838;
}

.playlistsContainer .playlist.active {
    background-color: #425e51;
    cursor: default;
}

.playlistsContainer .playlist h4 {
    margin: 0;
    padding: 7px 40px;
    width: 100%;
    box-sizing: border-box;
}

.playlistsContainer .newPlaylist {
    margin: 0;
    width: 100%;
    padding: 7px 20px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 20px calc(100% - 20px);
}

.playlistsContainer .newPlaylist:hover {
    cursor: pointer;
    transition: 0.3s ease;
    background-color: #383838;
}

.playlistsContainer .newPlaylist h4 {
    margin: 0;
}


.settings {
    position: absolute;
    width: 32px;
    height: 32px;
    bottom: 5px;
    left: 15px;
    cursor: pointer;
}

.settings .icon {
    width: 24px;
    height: 24px;
    transition: 0.3s ease;
}

.settings:hover .icon {
	filter: drop-shadow(0 0 2px rgba(255,255,255, 0.5));
}

/* MAIN SECTION */

.main {
    width: 100%; /* menu is 20% */
    height: calc(100vh - 50px - 100px); /* 50px for top bar, 100px for bottom bar */
    padding: 10px 30px;
    box-sizing: border-box;
    overflow-y: auto;
}

/* search */
#search .searchbar {
    width: 100%;
    height: 37px;
    display: grid;
    grid-template-columns: calc(100% - 32px - 16px) 32px;
    grid-gap: 16px;
    margin: 10px 0;
}

#search .searchbar input {
    width: 98%;
    background-color: #2A2A2A;
    border: 1px solid #7070709c;
    color: white;
    outline: none;
    padding: 10px;
    border-radius: 4px;
    font-family: "Rubik-Light";
    transition: 0.3s ease;
}

#search .searchbar input:hover {
    border: 1px solid #707070;
}

#search .searchbar input:focus {
    border: 1px solid rgba(85, 143, 128, 0.612)
}

#search .searchbar button {
    max-height: 100%;
    height: auto;
    width: 36px;
    padding: 5px;
    box-sizing: border-box;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    transition: 0.3s ease;
}

#search .searchbar button:hover {
    background-color: #302c2c;
}

#search .searchbar button .icon {
    filter: invert(100%);
}

/* videos */
#search .videos {
    width: 100%;
    margin: 20px 0;
}

#search .videos .video {
    width: 100%;
    height: 100px;
    margin: 15px 0;
    display: flex;
    justify-content: left;
    border-radius: 10px;
    transition: 0.3s ease;
}

.thumbnail {
    position: relative;
    border-radius: 10px;
    max-width: 150px;
    max-height: 150px;
    width: auto;
    height: auto;
    overflow: hidden;
}

.thumbnail .thumbnail-img {
    border-radius: 10px;
    max-height: 100%;
}

.thumbnail .play-thumbnail:hover {
    opacity: 1;
}

.thumbnail .play-thumbnail {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 9px;
    background-color: rgba(0, 0, 0, 0.75);
    opacity: 0;
    cursor: pointer;
    transition: 0.3s ease-out;
}

.thumbnail .play-thumbnail .icon {
    color: #57D875;
}

#search .videos .video .details {
    width: calc(100% - 150px);
    height: 100%;
}

#search .videos .video .details h2, h3 {
    margin: 5px;
    margin-left: 15px;
    margin-bottom: 5px;
    width: calc(100% - 150px);
    font-family: "Rubik-Light";
}

#search .videos .video .details h2 {
    font-size: 20px;
}

#search .videos .video .details h3 {
    opacity: 0.3;
    font-size: 14px;
    font-family: "Rubik-Light";
}

#search .videos .video .add-video {
    padding: 10px 20px;
    cursor: pointer;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    
    transition: 0.3s ease;
}

#search .videos .video .add-video:hover {
    background-color: #292525;
}

#search .videos .video .add-video .icon {
    opacity: 0;
    width: 48px;
    height: 48px;
    transition: 0.3s ease;
    color: #57D875;
}

#search .videos .video:hover {
    background-color: #221f1f;
}

#search .videos .video:hover .add-video .icon {
    opacity: 1;
}

/* playbar */
.playbar {
    width: 100%;
    height: 100px;
    background-color: #373737;
    display: grid;
    grid-template-columns: 15% 70% 15%;
}

.playbar .currently-playing {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 100px calc(100% - 100px);
}

.playbar .currently-playing .thumbnail {
    width: 100px;
    height: 100px;
}

.thumbnail-img.no-vid {
    opacity: 0.1;
}

.playbar .progressbar {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.progressbar .buttons {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    padding: 10px 0;
}

.progressbar .buttons .play-button {
    width: 36px;
    height: 36px;
    border-radius: 16px;
    border: none;
    background-color: #2C2C2C;
    cursor: pointer;
}

.progressbar .buttons .play-button:hover img {
    filter: invert(69%) sepia(68%) saturate(330%) hue-rotate(101deg) brightness(92%) contrast(91%);
}

.progressbar .buttons .play-button.active {
    filter: invert(69%) sepia(68%) saturate(330%) hue-rotate(101deg) brightness(92%) contrast(91%);
}

.progressbar .buttons .play-button img {
    width: 80%;
    height: 80%;
    filter: invert(100%);
    transition: 0.2s ease;
}

.fix-pos {
    margin-left: 3px;
}

.fix-pos-reversed {
    margin-left: -2px;
}

.reverse {
    transform: scaleX(-1);
}

.buttons .displaced {
    position: absolute;
    right: 0;
    display: flex;
    justify-content: right;
    gap: 10px;
}